@model IEnumerable<FluvAuto.Models.FuncionariosMarcacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Serviços</h1>

@if (isAdminOrFuncionario)
{
    <p>
        <a asp-action="Create">Criar serviço</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorasGastas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marcacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasGastas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicioServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marcacao.Servico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td>
                    @(item.Marcacao?.Viatura != null ? ($"{item.Marcacao.Viatura.Marca} - {item.Marcacao.Viatura.Modelo}") : "-")<br />
                    <span>@(item.Marcacao?.Viatura?.Matricula ?? "")</span>
                </td>
                @if (isAdminOrFuncionario)
                {
                    <td>
                        @Html.Raw((item.Marcacao?.Viatura?.Cliente?.Nome ?? "-") + "<br />" + (item.Marcacao?.Viatura?.Cliente?.Telefone ?? "-"))
                    </td>
                }
                <td>
                    @if (isAdminOrFuncionario)
                    {
                        @Html.ActionLink("Editar", "Edit", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
                        @: |
                        @Html.ActionLink("Apagar", "Delete", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
                        @: |
                    }
                    @Html.ActionLink("Detalhes", "Details", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
                </td>
            </tr>
        }
    </tbody>
</table>
