@model IEnumerable<FluvAuto.Models.FuncionariosMarcacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorasGastas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marcacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorasGastas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marcacao.Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
                @Html.ActionLink("Details", "Details", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
                @Html.ActionLink("Delete", "Delete", new { marcacaoId = item.MarcacaoFK, funcionarioId = item.FuncionarioFK })
            </td>
        </tr>
}
    </tbody>
</table>
