@model FluvAuto.Models.Viatura

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
    <h1>Detalhes da viatura</h1>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Combustivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorizacao)
        </dd>
        @if (User.IsInRole("admin") || User.IsInRole("funcionario"))
        {
            <dt class="col-sm-2">
                Cliente
            </dt>
            <dd class="col-sm-10">
                @Html.Raw((Model.Cliente?.Nome ?? "-") + "<br />" + (Model.Cliente?.Telefone ?? "-"))
            </dd>
        }
    </dl>
    
    <div class="details-actions">
        <a asp-action="Edit" asp-route-id="@Model?.ViaturaId">Editar</a>
        <a asp-action="Index">Voltar à lista</a>
    </div>
</div>
