@model FluvAuto.Models.Marcacao

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
    <h1>Detalhes da marcação</h1>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataMarcacaoFeita)
        </dt>
        <dd class="col-sm-10">
            @Model.DataMarcacaoFeita.ToString("dd/MM/yyyy")<br />
            <span>@Model.DataMarcacaoFeita.ToString("HH:mm")</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaInicioServico)
        </dt>
        <dd class="col-sm-10">
            @(Model.DataPrevistaInicioServico == DateTime.MinValue ? "-" :
                        Html.Raw(Model.DataPrevistaInicioServico.ToString("dd/MM/yyyy") + "<br />" +
                        Model.DataPrevistaInicioServico.ToString("HH:mm")))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimServico)
        </dt>
        <dd class="col-sm-10">
            @(Model.DataFimServico == null ? "-" : Html.Raw(Model.DataFimServico.Value.ToString("dd/MM/yyyy") + "<br />"
                        + Model.DataFimServico.Value.ToString("HH:mm")))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Viatura)
        </dt>
        <dd class="col-sm-10">
            <span>@Model.Viatura?.Marca @Model.Viatura?.Modelo</span><br />
            <small>@Model.Viatura?.Matricula</small>
        </dd>
        @if (User.IsInRole("admin") || User.IsInRole("funcionario"))
        {
            <dt class="col-sm-2">
                Cliente
            </dt>
            <dd class="col-sm-10">
                @Html.Raw((Model.Viatura?.Cliente?.Nome ?? "-") + "<br />" + (Model.Viatura?.Cliente?.Telefone ?? "-"))
            </dd>
        }
    </dl>
    
    <div class="details-actions">
        @if (User.IsInRole("admin") || User.IsInRole("funcionario"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.MarcacaoId">Editar</a>
        }
        <a asp-action="Index">Voltar à lista</a>
    </div>
</div>
