@model IEnumerable<FluvAuto.Models.Marcacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Marcações</h1>

<p>
    <a asp-action="Create">Nova marcação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataMarcacaoFeita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaInicioServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DataMarcacaoFeita.ToString("dd/MM/yyyy")<br />
                    <span>@item.DataMarcacaoFeita.ToString("HH:mm")</span>
                </td>
                <td>
                    @Html.Raw(item.DataPrevistaInicioServico == DateTime.MinValue ? "-" : item.DataPrevistaInicioServico.ToString("dd/MM/yyyy") + "<br />" + item.DataPrevistaInicioServico.ToString("HH:mm"))
                </td>
                <td>
                    @Html.Raw(item.DataFimServico == null ? "-" : item.DataFimServico.Value.ToString("dd/MM/yyyy") + "<br />" + item.DataFimServico.Value.ToString("HH:mm"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <span>@item.Viatura.Marca @item.Viatura.Modelo</span><br />
                    <small>@item.Viatura.Matricula</small>
                </td>
                @if (isAdminOrFuncionario)
                {
                    <td>
                        @Html.Raw((item.Viatura?.Cliente?.Nome ?? "-") + "<br />" + (item.Viatura?.Cliente?.Telefone ?? "-"))
                    </td>
                }
                <td>
                    @if (isAdminOrFuncionario)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.MarcacaoId })
                        @: |
                        @Html.ActionLink("Apagar", "Delete", new { id = item.MarcacaoId })
                        @: |
                    }
                    @Html.ActionLink("Detalhes", "Details", new { id = item.MarcacaoId })
                </td>
            </tr>
        }
    </tbody>
</table>
